.my_bg_black {
    background-color: black;
}

.nav_logo {
    height: 50px;
}

.logo_size {
    height: 50px;
    width: 100%;
    object-fit: contain;
    background-color: transparent;
}

.nav_wrap {
    height: 100px;
}

.my_button_bg {
    background-color: rgba(151,159,255,0.3);
}

.my_button_bg:hover,
#log_in_button:hover {
    background-color: rgba(151,159,255,0.9);
    color: dodgerblue;
}

.jumbotron_section {
    padding: 50px 0 50px 0;
}

.jumbo_img_wrap {
    height: 100%;
}

.jumbo_img_wrap img,
.section_img_wrap img {
    width: 100%;
}

.section_width {
    margin: 0 40px 0 40px;
    padding: 20px 0 15px 0;
}

.section_logo {
    height: 50px;
}

.section_quote_wrap {
    background-color: white;
}

.section_quote_wrap img {
    height: 80px;
}

.quote_img_wrap {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.quote_name_wrap {
    display: inline-block;
}

.my_impact_font {
    color: grey;
    text-transform: uppercase;
}

.resources_p_wrap {
    width: 50%;
}

.resources_icon_size {
    font-size: 30px;
}

.resources_square_wrap {
    padding: 40px;
    background-color: rgb(235,239,253,0.6);
}

.resources_square_wrap:hover {
    background-color: rgb(235,239,253,1);
}

.free_section {
    background-color: black;
}

.free_section_content_wrap {
    padding-right: 100px;
}

/*INIZIO CLASSI GENERICHE*/

.my_invert {
    filter: invert(100%);
}

.my_padding_right_30 {
    padding-right: 30px;
}

.my_dodger {
    color: dodgerblue;
}

.my_grey_bg {
    color: grey;
}

.my_br {
    border-radius: 0%;
}

.my_h1 {
    font-size: 50px;
}

.my_h1_big {
    font-size: 80px;
}

.my_p {
    font-size: 20px;
}

.my_mb_50 {
    margin-bottom: 50px;
}

.my_mb_20 {
    margin-bottom: 20px;
}

.my_mb_100 {
    margin-bottom: 100px;
}

.my_mb_200 {
    margin-bottom: 200px;
}

.my_black {
    color: black;
}


#pinkley {
    background-image: url(../img/pinkley.jpg);
}

#build_section {
    background-color: rgb(254,240,231);
}

#build_section_lower_part {
    background-color: rgb(239,212,189,0.8);
}

#launch_section {
    background-color: rgba(249,225,234);
}

#launch_section_lower_part {
    background-color: rgba(221,199,223,0.8);
}

#build_section_lower_part:hover {
    background-color: rgba(239,212,189,1);
}

#launch_section_lower_part:hover {
    background-color: rgba(221,199,223,1);
}

#green {
    background-image: url(../img/green_jason.jpg);
}

#grow_section {
    background-color: rgba(213,235,227);
}

#grow_section_lower_part {
    background-color: rgba(190,220,208,0.8);
}

#grow_section_lower_part:hover {
    background-color: rgba(190,220,208,1);
}

#erondu {
    background-image: url(../img/erondu.jpg);
}