.headerWrapper{
    position: fixed;
    top:0;
    left: 50%;
    width:100%;
    height:118px;
    transform: translate(-50%);
    z-index: 1000;
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: white;;
}


.menu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:601px;
    height:65px;  
    margin: 0 40px 0 195px;
}

.menu-item{
    font-family: 'Inter';
    font-size: 18px;
    line-height:22px;
    color:var(--darkFont);
}

.fa-angle-down{
    vertical-align: middle;
    margin-left:5px;
}

.getConsulting {
    width:184px;
    height:65px;
    line-height:22px;
    font-size: 18px;
    font-weight:400;
    background-color: var(--violet);
    font-family: 'Cabin', sans-serif;
    color:var(--white);
    border: none;
    cursor: pointer;
}

.logo{
    width:200px;
}

.how-we-work{
    width:1220px;
    height:510px;
    position:relative;
    left:50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 136px 0 35px 0;
}

.work-process{
    font-family: 'Inter';
    font-size:18px;
    font-weight:500;line-height: 21.78px;
    color: var(--darkFont);
}

.how-we-work-title{
    font-family: 'Poppins';
    font-size:40px;
    font-weight:700;
    line-height:48.5px;
    color:var(--darkFont);
    margin: 16px 0 41px 0;
}

.service-wrapper{
    display: flex;
    flex-direction: row;
    width: 1220px;
    height:383px;
    gap:31px;
}

.service-box{
    display: flex;
    flex-direction:column;
    background-color: var(--bgGray);
    justify-content: center;
    align-items: center;
}

.service-title{
    font-family: 'Poppins';
    font-size: 25px;
    font-weight:600;
    line-height:31.75px;
    color:var(--darkFont);
}


.service-text{
    font-family: 'Inter';
    font-size:18px;
    font-weight: 400;
    line-height: 26.31px;
    color:var(--lightFont);
    text-align: center;
    margin: 16px 0 37px 0;
}

.testimonials{
    font-family: 'Inter';
    font-size:18px;
    font-weight:600;
    line-height:21.78px;
    color:var(--violet);
    margin-bottom:10px;
}

.service-icon{
    width:72px;
    height:72px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius:50%;
    background-color: var(--lightGreen);
}

.service-icon-2{
 background-color: var(--violet);
}

.presentation{
    position:relative;
    max-width:100%;
    height:557px;
    background-image:url('../pic/handshakeBackground.jpg');
    margin-bottom: 155px;
}  

.layer{
    width: 100%;
    height: 100%;
    background-color: rgba(64, 221, 182, 0.75);
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
}

.content-wrapper{
    position:absolute;
    left:50%;
    transform: translate(-50%);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
    
}

.video-Small-Title{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    color: var(--darkFont);
}

.presentation-Title{
 font-family: 'Poppins';
 font-size:40px;
 font-weight: 700;
 line-height: 48.4px;
 color: var(--darkFont);
 margin: 16px 0 21px 0;
}

.presentation-text{
    width:511px;
    font-family: 'Inter';
    font-size:18px;
    font-weight:400;
    line-height: 26.31px;
    color: var(--darkFont);
    text-align: center;
    margin-bottom:47px;
}

.icon{
    width:64.5px;
    height:64.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    background-color: var(--violet);
    padding-left:4px;
    cursor:pointer;
}

.fa-play{
   color:white;
}

.our-Experts{
    position:relative;
    width: 1220px;
    height:659px;
    left:50%;
    transform: translate(-50%);
    justify-content: center;
    text-align: center;
    margin-bottom: 130px;
}

.our-team-small-title{
    font-family: 'Inter';
    font-size: 18px;
    font-weight:500;
    line-height:21.78px;
    color:var(--darkFont);
}

.meet-Experts{
    font-family: 'Poppins';
    font-size:40px;
    font-weight:700;
    line-height:48.4px;
    color:var(--darkFont);
    margin: 16px 0 35px 0;
}

.expert-box-wrapper{
    width:1220px;
    height:532px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.expert-box{
    position:relative;
}



.expertTXT-wrapper{
    width:341px;
    height: 114px;
    position: absolute;
    background-color: var(--white);
    padding: 24px 0;
    top: 396px;
    left: 25px;
}

.expertName{
    font-family: 'Poppins';
    font-size:25px;
    font-weight: 600;
    line-height: 37.5px;
    color:var(--darkFont);
}

.expertJobTitle{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 24.33px;
    color: var(--lightFont);
}
